table {
	background-color: cyan;
	border: 5px solid green;
		}
td:hover {
	background-color: red;
	color: black;
	font: Comic Sans MS;
	font-weight: bold;
	}
th {
	font-weight: bold underline;
	color: red;
	}
th:hover {
	color: darkgreen;
	}

	
